body {
    margin:0;
}

.container {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

nav {
    background-color: #343a40;
    height: 100px;
}

#nav-image {
    width:200px;
    height:70px;
    background-color: gray;
    margin-top: 1%;
}

ul li {
    margin-left:3%;
    display: flex;
    align-items: center;
}

a {
    color: white;
}


/* end of Nav */
#hero-image {
    margin-top:5%;
    width: 960px;
    height: 450px;
    display: flex;
    justify-content: center;
}

/* main */
.image-gallery-div {
    margin-top:5%;
    justify-content: space-between;
}

/*text image */
.text-image {
    margin-top:5%;
}

.section-heading {
    margin-top:5%;
    margin-left: 2%;
    margin-left:5%;
}

/* footer */
footer {
    background-color: #343a40;
}


